# Advent of Code: Day 1

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('input.txt')

In [3]:
df.head(5)

   # input for AOC-2020 day 1
0                        1918
1                        1869
2                        1821
3                        1852
4                        1981

In [4]:
df.columns = ['int']

In [8]:
df.head(5)

    int
0  1918
1  1869
2  1821
3  1852
4  1981

## Part One: Find two integers that add to 2020, then find the product of multiplying them.

In [17]:
count = 0
for x in df.int:
    for y in df.int:
        if (x + y) == 2020 and count == 0:
            print('The two integers that sum to 2020:', x, y)
            print('The product of multiplying the two integers:', x * y)
            count += 1

The two integers that sum to 2020: 1412 608
The product of multiplying the two integers: 858496

## Part Two: Find three integers that add to 2020, then find the product of multiplying them.

In [16]:
count = 0
for x in df.int:
    for y in df.int:
        for z in df.int:
            if (x + y + z) == 2020 and count == 0:
                print('The two integers that sum to 2020:', x, y, z)
                print('The product of multiplying the two integers:', x * y * z)
                count+=1

The two integers that sum to 2020: 405 833 782
The product of multiplying the two integers: 263819430