# Advent of Code: Day 2

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('input.txt', sep=' ')

In [3]:
df.head(5)

  char_count char        password
0      13-14   f:  ffffffffnfffvv
1      10-12   w:  kwtzpnzspwwwdz
2        2-3   n:            nnjn
3        2-3   h:            hhhh
4       2-11   c:  crccccccccsccc

In [4]:
min_max = df.char_count.str.split(pat='-', expand=True)

In [5]:
min_max.columns = ['min','max']

In [6]:
min_max.head(5)

  min max
0  13  14
1  10  12
2   2   3
3   2   3
4   2  11

In [7]:
df['min_count'] = min_max['min']

In [8]:
df['max_count'] = min_max['max']

In [9]:
df = df.drop('char_count', axis=1)

In [10]:
df['char'] = df.char.str.replace(':','')

In [11]:
df

    char              password min_count max_count
0      f        ffffffffnfffvv        13        14
1      w        kwtzpnzspwwwdz        10        12
2      n                  nnjn         2         3
3      h                  hhhh         2         3
4      c        crccccccccsccc         2        11
..   ...                   ...       ...       ...
995    v               vvdvvbv         3         6
996    p       pwppppppppppppp        13        15
997    v                  pwbr         1         2
998    r  xrrrbrrrgrpbrprrqrqr        15        18
999    g                 zgggp         2         4

[1000 rows x 4 columns]

In [12]:
df['min_count'] = df.min_count.astype('int')
df['max_count'] = df.max_count.astype('int')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   char       1000 non-null   object
 1   password   1000 non-null   object
 2   min_count  1000 non-null   int64
 3   max_count  1000 non-null   int64
dtypes: int64(2), object(2)
memory usage: 31.4+ KB

## Creating a function to validate passwords
- count how many times the char is in password
- check if this count is at least min and no more than max

In [14]:
def validate_password(df):
    
    # setting variable to count how many valid passwords
    valid = 0
    
    for integer in df.index:
        
        # setting variables from each observation
        password = df.password[integer]
        char = df.char[integer]
        min_count = df.min_count[integer]
        max_count = df.max_count[integer]
        
        # counting how many times character in password
        count = df.password.str.count(char)[integer]
        
        # boolean returns true if within min and max
        if count >= min_count and count <= max_count:
            valid += 1
            
    return valid

In [15]:
validate_password(df)

603

# Part 2
- min and max actualy mean 'character in this index' and 'character in this index'
- only one index can have the character present

In [30]:
df.columns = ['char','password','in_index','in_index_2']

In [31]:
df.head(5)

  char        password  in_index  in_index_2
0    f  ffffffffnfffvv        13          14
1    w  kwtzpnzspwwwdz        10          12
2    n            nnjn         2           3
3    h            hhhh         2           3
4    c  crccccccccsccc         2          11

In [40]:
def validate_password(df):
    
    # setting variable to count how many valid passwords
    valid = 0
    
    for integer in df.index:
        
        # to be valid, this count should end as 1, not 0 or 2
        count = 0
        
        # setting variables from each observation
        password = df.password[integer]
        char = df.char[integer]
        
        # their index does not start at 0, so subtracting 1
        present = df.in_index[integer] - 1
        present_2 = df.in_index_2[integer] - 1
        
        if password[present] == char:
            count += 1
            
        if password[present_2] == char:
            count += 1
            
        if count == 1:
            valid+=1
            
    return valid

In [41]:
validate_password(df)

404